body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


button {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

button:active {
    background-color: #222;
    transform: translateY(0);
}
.resultado {
    margin-top: 20px;
}

#desconto, #salarioFinal {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}